body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.textContainer {
  width: 90vw;
  height: 18vh;
  background: whitesmoke;
  box-shadow: 0 0 20px 2px grey;
  padding: 1rem;
  outline: none;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  border-radius: 20px;
}

/* .keyboard {
  height: 50vh;
  width: 70vw;
  background: #222325;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: lightblue;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.secondLast {
  width: 60%;
  margin: 0 auto;
}

.space {
  height: 2rem;
  width: 50%;
  background-color: grey;
}

.key {
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 23px;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

.key {
  background-color: #646667;
  color: white;
}

.key:active {
  background-color: white;
}

.active {
  background-color: white;
}

.key.capslock {
  padding-left: 1rem;
  padding-right: 1rem;
}
