.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #222325;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard_keys {
  text-align: center;
}

.keyboard_key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border: none;
  border-radius: 4px;
  background-color: #646567;
  color: white;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard_key:active {
  background-color: #404142;
  color: white;
}

.keyboard_key.keyboard_key_special:active {
  background-color: #646567;
  color: white;
}

.keyboard_key.specialCase:active i.material-icons {
  color: white;
}

.keyboard_key_wide {
  width: 12%;
}
.keyboard_key_extrawide {
  width: 36%;
  max-width: 500px;
}

.keyboard_key_activeable::after {
  content: " ";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #222325;
  border-radius: 50%;
}

.keyboard_key_active::after {
  background-color: #38c938;
}

.keyboard_key_dark {
  background-color: rgba(0, 0, 0, 25%);
}

textarea.use-keyboard {
  width: 50%;
  background: white;
  border-radius: 10px;
  border: 2px solid;
  outline: none;
  overflow: auto;
  padding: 10px;
  height: 80px;
  font-size: 20px;
}

div#wrappper {
  display: flex;
  justify-content: center;
}

button.keyboard_key_special {
  background-color: #3f4142;
}

button.specialCase {
  background: #d2d4d5;
}

button.specialCase i.material-icons {
  color: #222325;
  font-weight: 600;
}
